* {
  box-sizing: border-box;
  transition-duration: 0.1s;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: purple;
}
#root {
  overflow: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;

  background: url("../assets/bgs/mainbg.webp");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
main {
  background: url("../assets/bgs/rootbg.jpg");
  background-size: 100vh cover;
  background-position: top left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 50px;
}
em {
  font-weight: bolder;
}
.main-menu {
  border: 10px solid white;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  ul {
    display: block;
    width: fit-content;
    list-style: none;
    align-self: flex-end;
    margin-bottom: 12vh;
    padding-right: 5rem;

    li {
      display: block;
      width: fit-content;
      color: white;
      font-size: 3rem;
      font-weight: 1000;
      text-shadow: 0px 0px 10px black;
      font-family: monospace;
    }
  }
}
#root section {
  margin-top: 5rem;
  padding: 1rem 2rem ;
}
.about-me {
  width: 90vw;
  min-width: 300px;
  color: black;
  font-weight: 450;
  background-color: rgba(255, 255, 255, 0.666);
  backdrop-filter: blur(30px);
  align-self: center;
  padding: 1.5rem;
  border-radius: 0.4rem;
  p {
    font-size: 22px;
    font-weight: 50;
  }
}
.my-timeline {
 
  p {
    font-size: 22px;
    font-weight: 500;
  }
  .imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    img {
      min-width: 300px;
      width: 23%;
    }
  }
}
